.card {
  background-color: #a3e929;
  color: black;
  border-radius: 8px;
  padding: 16px;
  margin: 8px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* transition: transform 0.2s, box-shadow 0.3s ease-in-out; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: #a3e929;
  color: black;
  font-weight: 600;
  border: solid black 2px;
  border-radius: 4px;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.clipped {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

.cardContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
    background-color: #a3e929;
  }
  
  .textContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: .7rem;
    margin-right: 130px;
    max-width: 160px;
  }
  
  OpenModalButton {
    margin-left: auto;
    background-color: #a3e929;
  }

.cardButtons {
  display: flex;
  background-color: #a3e929;
  justify-content: space-around;
  width: 100%;
  padding: 0;
}

.cardButtonsText {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0;
  margin-top: -10px;
  font-size: 0.7rem;
}

.card:hover {
  /* transform: scale(1.05); */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.cardButton {
  /* background-color: #bdd42a; */
  background-color: #a3e929;
  color: rgb(57, 57, 57);
  font-weight: 600;
  border: none;
  border-radius: 4px;
  padding: 0;
  margin: 5px;
  cursor: pointer;
}

.cardButton:hover {
    background-color: #98bc5a;
    
}

.taskButton {
  /* background-color: #4caf50;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  margin: 5px; */
  cursor: pointer;
  transition: background-color 0.3s;
}

/* .taskButton:hover {
  background-color: #45a049;
} */

.tasksContainer {
  width: 100%;
  margin-top: 10px;
}

.taskCard {
  background-color: #f1f1f1;
  color: black;
  padding: 10px;
  border-radius: 4px;
  margin: 5px 0;
}

.inputField {
    margin: 20px;
}

.checkboxContainer {
  margin: 10px 0;
}

.confirmModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .confirmModalContent {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }
  
  .confirmButton, .cancelButton {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .confirmButton {
    background: red;
    color: white;
  }
  
  .cancelButton {
    background: grey;
    color: white;
  }

  .red {
    color: red;
  }
