/* .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 60vw;
    height: 65vh;
    z-index: 1000;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgba(75, 73, 73, 0.4);
  } */
 .modal {
    display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
 }
 
.modalContent {
    width: 50vw;
    height: 65vh;
    background-color: slategray;
    color: whitesmoke;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .cardComments button {
    background-color: #61dafb;
    color: rgb(57, 55, 55);
  }

  .cardComments button:hover {
    background-color: #69bfd6;
  }

  .cardComments input {
    width: 80%;
    padding: 5px;
    margin-bottom: 2px;
    background-color: whitesmoke;
  }

  .comments {
    list-style: none;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cardTitle {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .cardDescription {
    margin-bottom: 10px;
  }

  .cardContent {
    display: flex;
    justify-content: space-between;
    padding: 4px;
    width: 100%;
    height: 100%;
  }
  
  .cardTasks {
    width: 36%;
    background-color: slategray;
    color: whitesmoke;
    border: solid rgb(92, 90, 90) 1px;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .cardComments {
    width: 60%;
    background-color: slategray;
    color: whitesmoke;
    border: solid rgb(92, 90, 90) 1px;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .cardTasks h2, .cardComments h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .task {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: row;
    padding: 2px;
    margin: 2px;
  }

  .taskButton {
    background-color: #61dafb;
    color: rgb(57, 55, 55);
    border: none;
    padding: 5px;
    margin-left: 5px;
  }
  
  .icon {
    cursor: pointer;
    background-color: transparent;
    font-size: .6rem;
    font-weight: 600;
    margin-top: 12px;
    margin-bottom: -3px;
    margin-right: 5px;
    border: solid rgb(92, 90, 90) .1rem;
  }
  