.container {
    margin: 10;
    padding: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: solid 1px #c5c0c0;
}

h1 {
    text-align: center;
    color: #c5c0c0;
    margin-top: 20px;
}

button {
    margin: 15px;
    padding-top: 4px;
}
