.tooltip-container {
    position: relative;
    display: inline-block;
  }
  
  .tooltip-button {
    border: none;
    background: transparent;
    cursor: pointer;
  }
  
  .tooltip-text {
    visibility: hidden;
    font-size: x-small;
    width: 75px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
  