/* src/Navigation.css */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #20232a;
  padding: 10px 20px;
  width: screen;
  /* width: 1555px; */
}

li {
  margin: 0 15px;
  color: rgb(201, 201, 197)
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.logo {
  height: 50px;
  width: auto;
  border-radius: 6px;
  margin-left: -15px;
}

.logo:hover {
  transform: scale(1.05);
}

@media (max-width: 1000px) {
  .logo {
    margin-left: -14;
    height: 35px;
    padding: 0;
  }
  .dropdown {
    display: none;
  }
  .create-board-button {
    font-size: 10px;
    height: 40px;
    margin-left: -10;
  }
  .edit-board-button {
    font-size: 10px;
    height: 44px;
  }
  .delete-board-button {
      font-size: 10px;
      height: 44px;
    }
}

.new_Board,
/* .create-board-button, */
.dropdown-toggle {
  color: rgb(21, 21, 21);
  /* background: rgb(200, 250, 100); */
  background-color: #61dafb;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.new_Board:hover,
/* .create-board-button, */
.dropdown-toggle:hover {
  /* background-color: rgb(170, 208, 95); */
  background-color: #69bfd6;
}
.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  /* background-color: rgb(200, 250, 100); */
  background-color: #61dafb;
  border: 1px solid #ddd;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown:hover .dropdown-menu {
  display: block;
  /* background-color: rgb(170, 208, 95); */
  background-color: #69bfd6;
}

.dropdown-menu li {
  margin: 0;
}

.dropdown-menu a {
  display: block;
  color: black;
  text-decoration: none;
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
}

.dropdown-menu a:hover {
  background-color: #f0f0f0;
}

.dropdown-menu li:last-child a {
  border-bottom: none;
}

.dropdown-wrapper {
  display: inline-block;
  width: 200px;
  white-space: nowrap;
}

.create-board-button {
  /* background-color: rgb(200, 250, 100); */
  background-color: #61dafb;
  color: rgb(21, 21, 21);
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.create-board-button:hover {
  /* background-color: rgb(170, 208, 95); */
  background-color: #69bfd6;
}

.edit-board-button {
    background-color: #61dafb;
    color: rgb(21, 21, 21);
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.delete-board-button {
    background-color: #61dafb;
    color: rgb(21, 21, 21);
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.edit-board-button:hover {
    background-color: #69bfd6;
}

.delete-board-button:hover {
    background-color: #69bfd6;
}

.confirmModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .confirmModalContent {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }
  
  .confirmButton, .cancelButton {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .confirmButton {
    background: red;
    color: white;
  }
  
  .cancelButton {
    background: grey;
    color: white;
  }

  .closeButton {
    background: #61dafb;
    color: rgb(18, 18, 18);
  }

  .red {
    color: red;
  }
