.list-card {
    background-color: rgb(0, 0, 0);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin: 8px;
    width: 250px;
    display: inline-block;
    vertical-align: top;
  }
  .list-title {
    text-align: center;
  }
